@model List<User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<table>
    <thead>
        <tr>
            <td> Id </td>
            <td> LogOnName </td>
            <td> PasswordHash </td>
            <td> IsEnabled </td>
            <td> ExpiryDate </td>
            <td> PasswordChangedDate </td>
            <td> FirstName </td>
            <td> LastName </td>
        </tr> 
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td> @user.Id </td>
                <td> @user.LogOnName </td>
                <td> @user.PasswordHash </td>
                <td> @user.IsEnabled </td>
                <td> @user.ExpiryDate </td>
                <td> @user.PasswordChangedDate </td>
                <td> @user.FirstName </td>
                <td> @user.LastName </td>
            </tr>
        }
    </tbody>
</table>

